/* mindmap */
.oculto{ visibility:hidden;}

.nodePrincipal { 
  background-image:url("../img/nube1.png");
  background-repeat:no-repeat;
  font-family: helvetica,sans;
  padding: 0.5em;
  position: absolute;
  z-index: 20;
  width:250px;
  height:150px;
  left: 50%;
	top: 50%;
	margin-top:25px;
	margin-left: -125px;
	overflow: auto;
	font-size:14px;
}

.node { 
  background-image:url("../img/nube2.png");
  background-repeat:no-repeat;
  color: black;
  font-family: helvetica,sans;
  font-size: 0.9em;
  padding: 0.5em;
  position: absolute;
  width: 240px;
  height: 146px;
  z-index: 20;
}

.node span{
 text-align: center;
 /*padding-left: 50px;
 padding-top:20px;*/
 font-weight:bold;
 font-size:14px;
}

.node .texto{
padding-top: 25px;
padding-left: 50px;
}

.nodePrincipal span{
 text-align: center;
 padding-left: 75px;
 font-weight:bold;
 font-size:14px;
}

.nodePrincipal div{
 text-align: center;
}


.ep, .update_node, .remove_node {
  cursor:pointer;
}


#create_node, #save_node{
  margin: 1em;
}

/* FIXME: esto es un hack muy feo, deberíamos darle una clase a las conexiones */

._jsPlumb_overlay{
  background: white;
}

.btn {
 display: block;
    width: 200px;
    height: 20px;
    padding: 5px 0 0 0;
    margin: 0 auto;
    background: #4682B4;
    background: -moz-linear-gradient(top, #87CEEB 0%, #4682B4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87CEEB), color-stop(100%,#4682B4));
 
    box-shadow: inset 0px 0px 6px #fff;
    -webkit-box-shadow: inset 0px 0px 6px #fff;
    border: 1px solid #62C2F9;
    border-radius: 10px;
 
    font: bold 12px Helvetica, Sans-Serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    text-shadow: 0px 1px 2px #62C2F9;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
}
