#dockContainer { position: fixed; top: 120px; left: 6px; }
#jqDock { position: relative; bottom: 48px; }
.jqDockLabel { /*position:absolute; left: 60px !important;*/ background: rgb(15, 105, 133); color: #fff; padding: 3px 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
:link,:visited { text-decoration:none } :focus,:active { outline: 0 } ul,ol { list-style:none } h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; } ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input { margin:0; padding:0 } a img,:link img,:visited img, fieldset { border:none } address { font-style:normal }

#dockContainer img {
	max-width:none !important;
	padding:10px;
}