a.tooltip, a.tooltipDer {outline:none; }
a.tooltip:hover, a.tooltipDer:hover{text-decoration:none;} 
a.tooltip span {
            font-weight: normal;
            z-index:10;display:none; padding:14px 20px;
            margin-top:-30px; margin-left:150px;
            width:240px; line-height:16px;
}
a.tooltipDer span {
            font-weight: normal;
            z-index:10;display:none; padding:14px 20px;
            margin-top:-30px; margin-left:-500px;
            width:240px; line-height:16px;
}
a.tooltip:hover span, a.tooltipDer:hover span{
            display:inline; position:absolute; color:#111;
            border:1px solid #DCA; background:#fffAF0; /*#ABE8FA*/
}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
.calloutDer {z-index:20;position:absolute;top:30px;border:0;right:-12px;}
a.tooltip span, a.tooltipDer span
{
            border-radius:4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-box-shadow: 5px 5px 8px #CCC;
            -webkit-box-shadow: 5px 5px 8px #CCC;
            box-shadow: 5px 5px 8px #CCC;
}